$tipografia_texto:'Montserrat', sans-serif;
$tamaño_texto:18px;
$color_texto:black;

$tipografia_subtitulos:'Montserrat', sans-serif;
$tamaño_subtitulos:22px;
$color_subtitulos:#2C3383;
$tamaño_subtitulos_mobile:15px;

$color_titulo_general: #2C3383;
$tamaño_titulo_general:50px;
$tamaño_titulo_general_mobile:30px;

$tipografia_titulo:'Montserrat', sans-serif;
$color_titulo:white;
$tamaño_titulo:30px;

$tamaño_texto_convenio_1:10px;
$tamaño_texto_convenio:15px;

$bgcolor_publicaciones:#2C3383;
$color_publicaciones: white;

$bgcolor_titulo:#2C3383;
$bgcolor_proyectos_texto: #F2F3F4;

$tamaño_texto_proyectos:23px;